body {
  font-family: Arial, Helvetica, sans-serif;
  /*background-image: url(images/Logo.jpg);*/
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.sidebar__nav{
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(22, 68, 128);
  overflow-x: hidden;
  padding-top: 20x;
}

.sidebar__nav a{
  padding: 16px;
  text-decoration: none;
  font-size: 20px;
  color:aqua;
  display: block;
  text-align: justify;
}

.sidebar__nav i{
  color:green;
  font-weight: 700;
  background-color: blue;
  border-radius: 10px;
}

.sidebar__nav i{
  margin-right: 5px;
}

.content__main {
  margin-left: 160px;
  font-size: 22px;
  padding: 0 10px;
}

.content__main p{
  text-align: justify;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.button-container {
  text-align: center;
}

.my-button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.my-button:hover {
  background-color: #0056b3;
}

